<%= form_for(@book) do |f| %>
<h3>Edit Book</h3>
  <% if @book.errors.any? %>
    <div id="error_explanation">
      <div class="alert alert-error">
        The form contains <%= pluralize(@book.errors.count, "error") %>.
      </div>
      <ul>
      <% @book.errors.full_messages.each do |msg| %>
        <li>* <%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
    <%= f.label :description %>
    <%= f.text_area :description %>
    <h3>current state  : <%= @book.state %> <h3><br>
    <%= f.radio_button :state, "to-read" %>
    <%= f.label :state, "to-read" %>
    <%= f.radio_button :state, "currently reading" %>
    <%= f.label :state, "Currently reading" %>
    <%= f.radio_button :state, "read" %>
    <%= f.label :state, "read" %>
  </div>
  <%= f.submit "Save changes", class: "btn btn-large btn-primary" %>
<% end %>
